.footer{
	position: relative;
	padding: 40px 0 0;
	background: #1B1C1D;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	a{
		color: #fff;
	}
	&__item{
		margin-bottom: 40px;
		&__title{
			font-weight: 500;
			font-size: 18px;
			line-height: 28px;
			color: #7D8B94;
			margin-bottom: 16px;
		}
	}
	&__logo{
		margin-bottom: 24px;
	}

	&__text{

	}

	&__socical{
		margin-bottom: 32px;
		&__title{
			font-weight: 300;
			font-size: 14px;
			line-height: 24px;
			color: #828282;
			margin-bottom: 8px;
		}
		li{
			display: inline-block;
			margin-right: 16px;
			margin-bottom: 10px;
		}
		a{
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #828282;
			font-size: 40px;
			text-align: center;
			transition: all .5s;
			&:hover{
				text-decoration: none;
				color: #5694c3;
			}
			&.-fb{
				color: #3B5998;
			}
			&.-tw{
				color: #41A1F2;
			}
			&.-tele{
				color: #1C8ADB;
			}
			&.-ytb{
				color: #EB5757;
			}
		}
	}

	.-newsletter{
		form{
			position: relative;
			max-width: 400px;
    		margin: 0 auto 24px;
		}
		.input-text{
			height: 48px;
			padding: 10px 190px 10px 16px;
			font-size: 16px;
			line-height: 24px;
			color: #9D9D9D;
			border-radius: 4px;
		}
		.input-submit{
			position: absolute;
			top: 0;
			right: 0;
			min-width: 180px;
			padding: 12px 12px;
			height: 48px;
			background: linear-gradient(271.12deg, #1081E7 0%, #0E6CC3 100%);
			border-radius: 0px 4px 4px 0px;
			border: 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
		}
	}
	.copyright{
		position: relative;
		padding: 18px 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		background: linear-gradient(90.04deg, #022F96 0%, #0862AF 100%);
	}
	@media (max-width: 1199px){
		.-newsletter{
			.input-submit{
				min-width: 150px;
			}
			.input-text {
			    padding: 10px 155px 10px 16px;
			}
		}

	}
	@media (max-width: 991px){
		text-align: center;
	}
	@media (max-width: 575px){
		&__logo {
			padding-top:32px;
		    max-width: 260px;
		    margin: 0 auto 24px;
		}
	}
}