
.sc__header{
    margin: 0 0 32px;
    &.-white{
        .sc__header__title{
            color: #fff;
            a{
                color: #fff;
            }
        }
    }
    &__title{
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        display: flex;
        align-items: center;
        color: #192651;
        a{
            display: flex;
            align-items: center;
            color: #192651;
        }
        img{
            width: 45px;
            height: 45px;
            margin-right: 16px;
        }
    }
    @media (max-width: 1199px){
        &__title {
            font-size: 38px;
            line-height: 54px;
        }
    }
    @media (max-width: 991px){
        &__title {
            font-size: 32px;
            line-height: 50px;
        }
    }
    @media (max-width: 575px){
        margin: 0 auto 24px;

        &__title {
            font-size: 30px;
            line-height: 36px;
        }
    }

}

.el__readmore{
    position: relative;
    display: inline-block;
    border: 1px solid #1081E8;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1081E8;
    transition: all .5s;
    margin-bottom: 30px;
    min-width: 290px;
    padding: 12px 36px;
    &:before{
        content: "\e904";
        font-family: "icomoon";
        font-size: 16px;
        position: absolute;
        top: 11px;
        left: 50px;
    }
    &.active{
        cursor: none!important;
        &:before{
            animation:spinner-rotate 5s infinite linear;
        }
    }
    &:hover{
        background: #1081E8;
        color: #fff;
    }
}

// Effect
@keyframes spinner-rotate{
    to{transform:rotate(360deg);}
}

@keyframes animate{
    0%{box-shadow:0 0 50px #0F0,inset 0 0 50px #0F0;filter:hue-rotate(0deg);}
    20%{box-shadow:0 0 40px #0F0,inset 0 0 60px #0F0;}
    40%{box-shadow:0 0 40px #0F0,inset 0 0 80px #0F0;}
    60%{box-shadow:0 0 80px #0F0,inset 0 0 80px #0F0;}
    80%{box-shadow:0 0 100px #0F0,inset 0 0 100px #0F0;}
    100%{box-shadow:0 0 50px #0F0,inset 0 0 50px #0F0;filter:hue-rotate(360deg);}
}

.ef--border{
    --border-color: #FFB901;
    position: relative;
    &::before, &::after{
        box-sizing:border-box;content:'';position:absolute;top:0;left:0;height:100%;width:100%;transform-origin:center;
        transition: all .7s;
    }
    &::before{
        border-top:1px solid var(--border-color);border-bottom:1px solid var(--border-color);transform:scale3d(0,1,1);z-index:1;
    }
    &::after{
        border-left:1px solid var(--border-color);border-right:1px solid var(--border-color);transform:scale3d(1,0,1)
    }
    &:hover::before,&:hover::after{transform:scale3d(1,1,1);transition:transform 0.5s}
}
.ef--zoomin .dnfix__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
.ef--zoomin:hover .dnfix__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.ef--shine .dnfix__thumb{position:relative;display:block;overflow:hidden}
.ef--shine .dnfix__thumb::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.ef--shine:hover .dnfix__thumb::before{-webkit-animation:shine 1s;animation:shine 1s}
@-webkit-keyframes shine{
    100%{left:125%}
}
@keyframes shine{
    100%{left:125%}
}
@-webkit-keyframes Mousex{
  from{-webkit-transform:translate(0,0px);}
  65%{-webkit-transform:translate(0,15px);}
  to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mouse{
  from{-moz-transform:translate(0,0px);}
  65%{-moz-transform:translate(0,15px);}
  to{-moz-transform:translate(0,-0px);}
}

.page__header{
    position: relative;
    padding: 40px 0;
    .container{
        position: relative;
        z-index: 1;
    }
    &__title{
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        color: #192651;
        img{
            margin-right: 16px;
        }
    }
    .entry-title{
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        color: #1f293d;
    }
    @media (max-width: 991px){
        &__title {

        }
    }
    @media (max-width: 575px){
        padding: 24px 0;
        &__title {
            font-size: 30px;
            line-height: 36px;
        }

        .dnfix__thumb {
            margin-bottom: 32px;
        }
        .entry-title{
            font-size: 18px;
            line-height: 26px;
            text-align: center;
            color: #6DC6DA;

        }
    }
}



.dn__breadcrumb{
    margin-top: 24px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    a, span{
        color: #7B7D7D;
    }
    >span:last-child{

    }
}

/*widget*/
.widget__fix{
    position: sticky;
    top: 70px;
    padding-bottom:10px;
}
.admin-bar{
    @media (min-width: 992px) {
        .widget__fix{
            top: 100px;
        }
    }
}

.widget-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #192651;
    border-left: 4px solid #E54A35;
    padding-left: 8px;
    margin-bottom: 30px;
}

/*404*/
.box-search {
    max-width: 500px;
    margin: auto;
}
.box-search form{
    position: relative;
}
.box-search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 38px;
    width: 100px;
    background: #059b53;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}